<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">FitPlans</h1>
        <p class="lead blog-description">Find the plan that fits you best.</p>
        </div>
    {{model.currentUser}}
    <div class="row" >
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Plan Name</th>
                        <th>Trainer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "plan in model.plans">
                        <td><a href="#/fitplans/details/{{plan._id}}">{{plan.planName}}</a></td>
                        <td><a href="#/profile/{{plan.Trainer._id}}">{{plan.Trainer}}</a></td>
                        <td><a href="" ng-click="model.userLikesPlan(plan._id)" class="btn btn-sm btn-warning" ng-class= "{'active': model.user.like.indexOf(plan._id) > -1}">
                            <span class="glyphicon glyphicon-star"></span> Favorite</a></a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
