<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home view page</title>
</head>
<body>
<div>
    <h1 class="page-header"> Welcome to EverFit!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
        Duis vulputate commodo lectus, ac blandit elit tincidunt id.
        Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
        et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
        Aenean velit odio, elementum in tempus ut, vehicula eu diam.
        Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit.
        Vivamus varius pretium ligula, a aliquam odio euismod sit amet.
        Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. P
        ellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
    </p>
    <div class="row">
        <form class="form">
        <div class="col-md-6 col-md-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" ng-model="model.plan.name" class="form-control"  placeholder="Search Plans" >
                    <div class="input-group-addon">
                        <button ng-click="model.searchPlanByName(model.plan.name)" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a ng-if="!currentUser" href="#login" class="btn btn-primary btn-block">Login</a>
        </div>
    </div>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>