#box0{
    background-color: blue;
    width: 100px;
    height: 300px;
    color: white;
    margin-left: 50px;
}

#box1 {
    background-color: red;
    width: 500px;
    height: 200px;
    color: white;
    margin: 50px;
    border-width: 50px;
    border-style: solid;
    border-color: green;
    padding: 50px;
}
#box2 {
    background-color: blue;
    width: 100px;
    height: 300px;
    color: white;
    margin-left: 50px;
}
