<div>
    <h3 class="page-header">model.type}}</h3>
<br>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="title">Plan Title</label>
                <input ng-model="model.plan.title" class="form-control" type="text" id="title" placeholder="Plan title">
            </div>
            <div class="form-group">
                <label for="description">Plan Description</label>
                <input ng-model="model.plan.description" class="form-control" class="form-control" type="text" id="description" placeholder="Plan Description">
            </div>
            <div class="form-group">
                <label for="detail">Plan Detail</label>
            <div id="detail" text-angular
                 ng-model="model.plan.detail">    </div>
            </div>

            <a class="btn btn-success">Submit</a>
            <a class="btn btn-default">Cancel</a></td>
        </form>
    </div>
</div>