<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Register</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="username" placeholder="Email">
        </div>
    </div>
<div class="form-horizontal">
<input ng-model="model.user.password"
       type="password"
       placeholder="password"
       class="form-control"/>
<input ng-model="model.user.password2"
       type="password"
       placeholder="verify password"
       class="form-control"/>
</form>
<button ng-click="model.register(model.user);" class="btn btn-primary btn-block">Register</button>
</body>
</html>