
body{
    padding-top: 50px;
}

#map{
    height: 300px;
    width: auto;
}

#imaginary_container{
    margin-top:10%; /* Don't copy this */
    margin-bottom: 10%;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.sidebar-user{
    background: rgba(150,255,255,.1);
    border: 1px ridge;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

