<h1 class="page-header">Admin</h1>
    <h2 class="sub-header">Users</h2>
        <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td><input ng-model=model.NewUser.username class="form-control" type="text" name="username" placeholder="User Name"/></td>
                        <td><input ng-model=model.NewUser.password class="form-control" type="password" name="password" placeholder="Password"/></td>
                        <td><input ng-model="model.NewUser.firstName" class="form-control" type="text" placeholder="FirstName"></td>
                        <td><input ng-model="model.NewUser.lastName" class="form-control" type="text" placeholder="LastName"></td>
                        <td><input ng-model="model.NewUser.roles" class="form-control" type="text" placeholder="LastName"></td>
                        </td>
                        <td nowrap>
                            <a href="" ng-click="model.add(NewUser)" class="btn btn-success col-sm-1">
                                Add
                            </a>
                            <a href="" ng-click="model.update(NewUser)" class="btn btn-primary col-sm-1">
                                Update
                            </a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users">
                        <td>{{user.username}}</td>
                        <td>&nbsp;</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles}}</td>
                        <td><button type="button" ng-click="model.delete(user)" class="btn btn-danger">Delete</button>
                        <button type="button" ng-click="model.edit(user)" class="btn btn-warning "> Edit </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>