<h1 class="page-header">Admin</h1>
    <h2 class="sub-header">Users</h2>
        <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><a href="" class="" ng-click="model.order('username')">User Name<span ng-class="model.sortIcon" ng-show="model.predicate === 'username'" ></span></a></th>
                        <th><a href="" class="" ng-click="model.order('password')">Password<span ng-class="model.sortIcon" ng-show="model.predicate === 'password'" ></span></a></th>
                        <th><a href="" class="" ng-click="model.order('firstName')">First Name<span ng-class="model.sortIcon" ng-show="model.predicate === 'firstName'" ></span></a></th>
                        <th><a href="" class="" ng-click="model.order('lastName')">Last Name<span ng-class="model.sortIcon" ng-show="model.predicate === 'lastName'" ></span></a></th>
                        <th><a href="" class="" ng-click="model.order('roles')">Roles<span ng-class="model.sortIcon" ng-show="model.predicate === 'roles'" ></span></a></th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td><input ng-model=model.NewUser.username class="form-control" type="text" name="username" placeholder="User Name"/></td>
                        <td><input ng-model=model.NewUser.password class="form-control" type="password" name="password" placeholder="Password"/></td>
                        <td><input ng-model="model.NewUser.firstName" class="form-control" type="text" placeholder="FirstName"></td>
                        <td><input ng-model="model.NewUser.lastName" class="form-control" type="text" placeholder="LastName"></td>
                        <td><input ng-model="model.NewUser.roles" class="form-control" type="text" placeholder="LastName"></td>
                        </td>
                        <td nowrap>
                            <a href="" ng-click="model.addUser(model.NewUser)" class="btn btn-success glyphicon glyphicon-plus">
                            </a>
                            <a href="" ng-click="model.update(model.NewUser)" class="btn btn-primary glyphicon glyphicon-ok">
                            </a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users | orderBy:model.predicate:model.reverse">
                        <td>{{user.username}}</td>
                        <td>&nbsp;</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles}}</td>
                        <td><button type="button" ng-click="model.deleteUser(user._id)" class="btn btn-danger glyphicon glyphicon-remove"></button>
                        <button type="button" ng-click="model.editUser(user)" class="btn btn-warning glyphicon glyphicon-cog"></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div ng-show="model.message" class="col-sm-offset-2 alert alert-danger" role="alert">{{message}}</div>
        </div>
    </div>
</div>