<h1 class="page-header">{{FM.message}}</h1>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#forms">Forms</a></li>
    <li role="presentation" class="active"><a href="">Fields</a></li>
</ul>
<br>
<div ui-sortable="FM.sortableOptions" ng-model="FM.fields" class="list">
<div ng-repeat="field in FM.fields" ng-switch on = "field.type">
        <label for="{{field._id}}">{{field.label}}</label>
    <div class = "row">
        <div ng-switch-when="TEXT" class="col-sm-6">
      <input type="text" id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control">
      </div>

        <div ng-switch-when="EMAIL" class="col-sm-6">
            <input type="text" id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control">
        </div>
        <div class="col-sm-6" ng-switch-when="OPTIONS" id="{{field._id}}">
            <div class="dropdown">
                <select class="form-control">
                    <option class="col-sm-6" ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                </select>
                </div>
        </div>

        <div class="col-sm-6" ng-switch-when="TEXTAREA" id="{{field._id}}">
            <div class="form-group">
                <textarea type="text" class="form-control" rows="2" placeholder="{{field.placeholder}}"></textarea>
            </div>
        </div>

        <div class="col-sm-6" ng-switch-when="DATE" id="{{field._id}}">
            <div class="form-group">
                <input type="date" class="form-control"/>
            </div>
        </div>

        <div class="col-sm-6" ng-switch-when="CHECKBOXES">
            <div class="form-group" ng-repeat="option in field.options">
                <div>
                    <input type="checkbox" id="{{option.label}}" value="{{option.value}}" class=""/>
                    <label for="{{option.label}}">{{option.label}}</label>
                </div>
            </div>
        </div>

        <div class="col-sm-6" ng-switch-when="RADIOS">
            <div class="form-group" ng-repeat="option in field.options">
                <div>
                <input type="radio" id="{{option.label}}" name="{{field._id}}" value="{{option.value}}"/>
                <label for="{{option.label}}">{{option.label}}</label>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-sm-push-2">
            <a herf="" ng-click="FM.modifyField(field)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
            <a herf="" ng-click="FM.removeField(field)" class="btn btn-danger glyphicon glyphicon-remove"></a>
            <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
            <a herf="" ng-click="modifyField($index)" class="myHandle btn btn-default glyphicon glyphicon-menu-hamburger"></a>
        </div>
    </div>
    <br>
</div>
</div>
<hr>
<label for="newField">Add New Field:</label>
<div class="row">
    <div class="col-sm-6">
        <div class="dropdown">
            <select class="form-control" ng-model="FM.fieldType" name="Type" id="newField" type="text">
                <option value="TEXT" >Single Line Text</option>
                <option value="TEXTAREA">Multi Line Text</option>
                <option value="DATE">Date</option>
                <option value="OPTIONS" >Dropdown</option>
                <option value="CHECKBOXES" >CheckBoxes</option>
                <option value="RADIOS" >Radio Buttons</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="FM.addField(FM.fieldType)" class="btn btn-success glyphicon glyphicon-plus"></a>
    </div>
</div>


<script type="text/ng-template" id="tpl">
    <h1>Template heading</h1>
    <p>Content goes here</p>
</script>



<!--<label for="FirstName">First Name:</label>
<div class="row">
    <div class="col-sm-6">
        <input type="text" ng-model="form.firstname" class="form-control" id="FirstName" placeholder="First Name">
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</div>
<label for="LastName">Last Name</label>
<div class="row">
    <div class="col-sm-6">
        <input type="text" ng-model="form.lastname" class="form-control" id="LastName" placeholder="Last Name">
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</div>
<label for="DOB">Date of birth</label>
<div class="row">
    <div class="col-sm-6"><input type="date" ng-model="form.dob" id="DOB" class="form-control"/></div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</div>
<label for="gender">Gender</label>
<div class="row">
    <div class="col-sm-6">
        <div class="dropdown">
            <select class="form-control" id="gender" type="text">
                <option value="Male" >Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</div>
<label>Roles:</label>
<div class="row">
    <div class="col-sm-6">
        <form class="form-inline">
            <input type="checkbox" id="admin" class="form-control"/>
            <label for="admin">Admin</label>
        </form>
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</div>
<form class="form-inline">
    <input type="checkbox" id="student" class="form-control"/>
    <label for="student">Student</label>
    </form>
<form class="form-inline">
    <input type="checkbox" id="user" class="form-control"/>
    <label for="user">User</label>
    </form>
<label>License Agreement:</label>
<div class="row">
    <div class="col-sm-6">
        <form class="form-inline">
        <input type="radio" id="yes" name="agree"/><label for="yes">Yes</label>
        <input type="radio" id="no" name="agree"/><label for="no">No</label>
            </form>
    </div>
    <div class="col-sm-6 col-sm-push-2">
        <a herf="" ng-click="modifyField($index)" class="btn btn-warning glyphicon glyphicon-pencil"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-danger glyphicon glyphicon-remove"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-success glyphicon glyphicon-plus"></a>
        <a herf="" ng-click="modifyField($index)" class="btn btn-default glyphicon glyphicon-menu-hamburger"></a>
    </div>
</form>
</div>-->
