<h1 class="page-header">Forms:{{form.title}}</h1>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#forms">Forms</a></li>
    <li role="presentation" class="active"><a href="form_field.html">Fields</a></li>
</ul>
<form>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="email" ng-model="form.firstName" class="form-control" id="FirstName" placeholder="First Name">
        </div>
    </form>
</form>